$font-sizes: (
    "12": 0.75rem,
    "14": 0.875rem,
    "16": 1rem,
    "18": 1.125rem,
    "24": 1.5rem,
    "26": 1.625rem,
    "32": 2rem,
    "34": 2.125rem,
    "38": 2.375rem,
    "42": 2.625rem,
    "48": 3rem,
    "64": 4rem
);

@function font-size($size) {
    @return map-get($font-sizes, $size);
}

$pri-col: #fd79a8;
$poppins: var(--font-poppins);

@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
