$font16: 1rem;
$font12: 0.75rem;
$font14: 0.875rem;
$font18: 1.125rem;
$font24: 1.5rem;
$font26: 1.625rem;
$font32: 2rem;
$font34: 2.125rem;
$font38: 2.375rem;
$font42: 2.625rem;
$font48: 3rem;
$font64: 4rem;

$pri-col: #fd79a8;
$sec-col: rgba(105, 90, 205, 0.2);
$poppins: var(--font-poppins);

@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
